<a href="https://colab.research.google.com/github/ninonii/Deeplearning2025-26-naina/blob/main/Data_Preprocessing_Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### **Name** : `Naina`
#### **Roll No.** : `2410031410`
#### **Class** : `2CSE22`
#### **Subject** : `Machine Learning`

In [ ]:
#importing necessary libraries
import pandas as pd
import numpy as np

In [ ]:
#mounting drive to colab notebook
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#importing dataset
df=pd.read_csv('/content/drive/My Drive/NAINA_ML/Building_Permits.csv/Building_Permits.csv')
df

/tmp/ipython-input-1371836750.py:2: DtypeWarning: Columns (22,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('/content/drive/My Drive/NAINA_ML/Building_Permits.csv/Building_Permits.csv')

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix,...,Existing Construction Type,Existing Construction Type Description,Proposed Construction Type,Proposed Construction Type Description,Site Permit,Supervisor District,Neighborhoods - Analysis Boundaries,Zipcode,Location,Record ID
0,201505065519,4,sign - erect,05/06/2015,0326,023,140,NaN,Ellis,St,...,3.0,constr type 3,NaN,NaN,NaN,3.0,Tenderloin,94102.0,"(37.785719256680785, -122.40852313194863)",1380611233945
1,201604195146,4,sign - erect,04/19/2016,0306,007,440,NaN,Geary,St,...,3.0,constr type 3,NaN,NaN,NaN,3.0,Tenderloin,94102.0,"(37.78733980600732, -122.41063199757738)",1420164406718
2,201605278609,3,additions alterations or repairs,05/27/2016,0595,203,1647,NaN,Pacific,Av,...,1.0,constr type 1,1.0,constr type 1,NaN,3.0,Russian Hill,94109.0,"(37.7946573324287, -122.42232562979227)",1424856504716
3,201611072166,8,otc alterations permit,11/07/2016,0156,011,1230,NaN,Pacific,Av,...,5.0,wood frame (5),5.0,wood frame (5),NaN,3.0,Nob Hill,94109.0,"(37.79595867909168, -122.41557405519474)",1443574295566
4,201611283529,6,demolitions,11/28/2016,0342,001,950,NaN,Market,St,...,3.0,constr type 3,NaN,NaN,NaN,6.0,Tenderloin,94102.0,"(37.78315261897309, -122.40950883997789)",144548169992
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198895,M862628,8,otc alterations permit,12/05/2017,0113,017A,1228,NaN,Montgomery,St,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1489337276729
198896,201712055595,8,otc alterations permit,12/05/2017,0271,014,580,NaN,Bush,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,NaN,NaN,NaN,NaN,1489462354993
198897,M863507,8,otc alterations permit,12/06/2017,4318,019,1568,NaN,Indiana,St,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1489539379952
198898,M863747,8,otc alterations permit,12/06/2017,0298,029,795,NaN,Sutter,St,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1489608233656
198899,M864287,8,otc alterations permit,12/07/2017,0160,006,838,NaN,Pacific,Av,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1489796283803

In [ ]:
#Checking information of dataset such as column values that are not null and its datatype
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198900 entries, 0 to 198899
Data columns (total 43 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   Permit Number                           198900 non-null  object
 1   Permit Type                             198900 non-null  int64
 2   Permit Type Definition                  198900 non-null  object
 3   Permit Creation Date                    198900 non-null  object
 4   Block                                   198900 non-null  object
 5   Lot                                     198900 non-null  object
 6   Street Number                           198900 non-null  int64
 7   Street Number Suffix                    2216 non-null    object
 8   Street Name                             198900 non-null  object
 9   Street Suffix                           196132 non-null  object
 10  Unit                                    29479 non-null   float64
 11  Unit Suffix                             1961 non-null    object
 12  Description                             198610 non-null  object
 13  Current Status                          198900 non-null  object
 14  Current Status Date                     198900 non-null  object
 15  Filed Date                              198900 non-null  object
 16  Issued Date                             183960 non-null  object
 17  Completed Date                          97191 non-null   object
 18  First Construction Document Date        183954 non-null  object
 19  Structural Notification                 6922 non-null    object
 20  Number of Existing Stories              156116 non-null  float64
 21  Number of Proposed Stories              156032 non-null  float64
 22  Voluntary Soft-Story Retrofit           35 non-null      object
 23  Fire Only Permit                        18827 non-null   object
 24  Permit Expiration Date                  147020 non-null  object
 25  Estimated Cost                          160834 non-null  float64
 26  Revised Cost                            192834 non-null  float64
 27  Existing Use                            157786 non-null  object
 28  Existing Units                          147362 non-null  float64
 29  Proposed Use                            156461 non-null  object
 30  Proposed Units                          147989 non-null  float64
 31  Plansets                                161591 non-null  float64
 32  TIDF Compliance                         2 non-null       object
 33  Existing Construction Type              155534 non-null  float64
 34  Existing Construction Type Description  155534 non-null  object
 35  Proposed Construction Type              155738 non-null  float64
 36  Proposed Construction Type Description  155738 non-null  object
 37  Site Permit                             5359 non-null    object
 38  Supervisor District                     197183 non-null  float64
 39  Neighborhoods - Analysis Boundaries     197175 non-null  object
 40  Zipcode                                 197184 non-null  float64
 41  Location                                197200 non-null  object
 42  Record ID                               198900 non-null  int64
dtypes: float64(12), int64(3), object(28)
memory usage: 65.3+ MB

In [ ]:
#Checking number of rows and columns in dataset
df.shape

(198900, 43)

In [ ]:
#Checking null values in each column
missing_data=df.isnull().sum()
missing_data

Permit Number                                  0
Permit Type                                    0
Permit Type Definition                         0
Permit Creation Date                           0
Block                                          0
Lot                                            0
Street Number                                  0
Street Number Suffix                      196684
Street Name                                    0
Street Suffix                               2768
Unit                                      169421
Unit Suffix                               196939
Description                                  290
Current Status                                 0
Current Status Date                            0
Filed Date                                     0
Issued Date                                14940
Completed Date                            101709
First Construction Document Date           14946
Structural Notification                   191978
Number of Existing Stories                 42784
Number of Proposed Stories                 42868
Voluntary Soft-Story Retrofit             198865
Fire Only Permit                          180073
Permit Expiration Date                     51880
Estimated Cost                             38066
Revised Cost                                6066
Existing Use                               41114
Existing Units                             51538
Proposed Use                               42439
Proposed Units                             50911
Plansets                                   37309
TIDF Compliance                           198898
Existing Construction Type                 43366
Existing Construction Type Description     43366
Proposed Construction Type                 43162
Proposed Construction Type Description     43162
Site Permit                               193541
Supervisor District                         1717
Neighborhoods - Analysis Boundaries         1725
Zipcode                                     1716
Location                                    1700
Record ID                                      0
dtype: int64

In [ ]:
#Calculating percentage of data that is null to identify if column should be dropped or not
missing_percentage = (df.isnull().sum() / len(df)) * 100
print("Percentage of missing values per column:")
print(missing_percentage)

Percentage of missing values per column:
Permit Number                              0.000000
Permit Type                                0.000000
Permit Type Definition                     0.000000
Permit Creation Date                       0.000000
Block                                      0.000000
Lot                                        0.000000
Street Number                              0.000000
Street Number Suffix                      98.885872
Street Name                                0.000000
Street Suffix                              1.391654
Unit                                      85.178984
Unit Suffix                               99.014077
Description                                0.145802
Current Status                             0.000000
Current Status Date                        0.000000
Filed Date                                 0.000000
Issued Date                                7.511312
Completed Date                            51.135747
First Construction Document Date           7.514329
Structural Notification                   96.519859
Number of Existing Stories                21.510307
Number of Proposed Stories                21.552539
Voluntary Soft-Story Retrofit             99.982403
Fire Only Permit                          90.534439
Permit Expiration Date                    26.083459
Estimated Cost                            19.138260
Revised Cost                               3.049774
Existing Use                              20.670689
Existing Units                            25.911513
Proposed Use                              21.336853
Proposed Units                            25.596280
Plansets                                  18.757667
TIDF Compliance                           99.998994
Existing Construction Type                21.802916
Existing Construction Type Description    21.802916
Proposed Construction Type                21.700352
Proposed Construction Type Description    21.700352
Site Permit                               97.305681
Supervisor District                        0.863248
Neighborhoods - Analysis Boundaries        0.867270
Zipcode                                    0.862745
Location                                   0.854701
Record ID                                  0.000000
dtype: float64

In [ ]:
#Storing and displaying columns that have more than 80% null data
threshold = 80
columns_to_drop = missing_percentage[missing_percentage > threshold].index.tolist()
print(f"\nColumns with more than {threshold}% missing values to be dropped:")
print(columns_to_drop)

Columns with more than 80% missing values to be dropped:
['Street Number Suffix', 'Unit', 'Unit Suffix', 'Structural Notification', 'Voluntary Soft-Story Retrofit', 'Fire Only Permit', 'TIDF Compliance', 'Site Permit']

In [ ]:
#Dropping columns with more than 80% null data
df = df.drop(columns=columns_to_drop)

In [ ]:
#Rechecking information of dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198900 entries, 0 to 198899
Data columns (total 35 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   Permit Number                           198900 non-null  object
 1   Permit Type                             198900 non-null  int64
 2   Permit Type Definition                  198900 non-null  object
 3   Permit Creation Date                    198900 non-null  object
 4   Block                                   198900 non-null  object
 5   Lot                                     198900 non-null  object
 6   Street Number                           198900 non-null  int64
 7   Street Name                             198900 non-null  object
 8   Street Suffix                           196132 non-null  object
 9   Description                             198610 non-null  object
 10  Current Status                          198900 non-null  object
 11  Current Status Date                     198900 non-null  object
 12  Filed Date                              198900 non-null  object
 13  Issued Date                             183960 non-null  object
 14  Completed Date                          97191 non-null   object
 15  First Construction Document Date        183954 non-null  object
 16  Number of Existing Stories              156116 non-null  float64
 17  Number of Proposed Stories              156032 non-null  float64
 18  Permit Expiration Date                  147020 non-null  object
 19  Estimated Cost                          160834 non-null  float64
 20  Revised Cost                            192834 non-null  float64
 21  Existing Use                            157786 non-null  object
 22  Existing Units                          147362 non-null  float64
 23  Proposed Use                            156461 non-null  object
 24  Proposed Units                          147989 non-null  float64
 25  Plansets                                161591 non-null  float64
 26  Existing Construction Type              155534 non-null  float64
 27  Existing Construction Type Description  155534 non-null  object
 28  Proposed Construction Type              155738 non-null  float64
 29  Proposed Construction Type Description  155738 non-null  object
 30  Supervisor District                     197183 non-null  float64
 31  Neighborhoods - Analysis Boundaries     197175 non-null  object
 32  Zipcode                                 197184 non-null  float64
 33  Location                                197200 non-null  object
 34  Record ID                               198900 non-null  int64
dtypes: float64(11), int64(3), object(21)
memory usage: 53.1+ MB

In [ ]:
#Rechecking number of rows and columns in dataset
df.shape

(198900, 35)

In [ ]:
#Storing numerical and categorical columns seperately
numerical_cols = df.select_dtypes(include=np.number).columns
categorical_cols = df.select_dtypes(include='object').columns

In [ ]:
#Using sklearn's SimpleImputer filling null values in numerical data with mean and categorical data with most frequent data
from sklearn.impute import SimpleImputer
if len(numerical_cols) > 0:
        numerical_imputer = SimpleImputer(strategy='mean')
        df[numerical_cols] = numerical_imputer.fit_transform(df[numerical_cols])
if len(categorical_cols) > 0:
        categorical_imputer = SimpleImputer(strategy='most_frequent')
        df[categorical_cols] = categorical_imputer.fit_transform(df[categorical_cols])

In [ ]:
#rechecking for null values in dataset
missing_data = df.isnull().sum()
missing_data

Permit Number                             0
Permit Type                               0
Permit Type Definition                    0
Permit Creation Date                      0
Block                                     0
Lot                                       0
Street Number                             0
Street Name                               0
Street Suffix                             0
Description                               0
Current Status                            0
Current Status Date                       0
Filed Date                                0
Issued Date                               0
Completed Date                            0
First Construction Document Date          0
Number of Existing Stories                0
Number of Proposed Stories                0
Permit Expiration Date                    0
Estimated Cost                            0
Revised Cost                              0
Existing Use                              0
Existing Units                            0
Proposed Use                              0
Proposed Units                            0
Plansets                                  0
Existing Construction Type                0
Existing Construction Type Description    0
Proposed Construction Type                0
Proposed Construction Type Description    0
Supervisor District                       0
Neighborhoods - Analysis Boundaries       0
Zipcode                                   0
Location                                  0
Record ID                                 0
dtype: int64

In [ ]:
#Rechecking information of dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198900 entries, 0 to 198899
Data columns (total 35 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   Permit Number                           198900 non-null  object
 1   Permit Type                             198900 non-null  float64
 2   Permit Type Definition                  198900 non-null  object
 3   Permit Creation Date                    198900 non-null  object
 4   Block                                   198900 non-null  object
 5   Lot                                     198900 non-null  object
 6   Street Number                           198900 non-null  float64
 7   Street Name                             198900 non-null  object
 8   Street Suffix                           198900 non-null  object
 9   Description                             198900 non-null  object
 10  Current Status                          198900 non-null  object
 11  Current Status Date                     198900 non-null  object
 12  Filed Date                              198900 non-null  object
 13  Issued Date                             198900 non-null  object
 14  Completed Date                          198900 non-null  object
 15  First Construction Document Date        198900 non-null  object
 16  Number of Existing Stories              198900 non-null  float64
 17  Number of Proposed Stories              198900 non-null  float64
 18  Permit Expiration Date                  198900 non-null  object
 19  Estimated Cost                          198900 non-null  float64
 20  Revised Cost                            198900 non-null  float64
 21  Existing Use                            198900 non-null  object
 22  Existing Units                          198900 non-null  float64
 23  Proposed Use                            198900 non-null  object
 24  Proposed Units                          198900 non-null  float64
 25  Plansets                                198900 non-null  float64
 26  Existing Construction Type              198900 non-null  float64
 27  Existing Construction Type Description  198900 non-null  object
 28  Proposed Construction Type              198900 non-null  float64
 29  Proposed Construction Type Description  198900 non-null  object
 30  Supervisor District                     198900 non-null  float64
 31  Neighborhoods - Analysis Boundaries     198900 non-null  object
 32  Zipcode                                 198900 non-null  float64
 33  Location                                198900 non-null  object
 34  Record ID                               198900 non-null  float64
dtypes: float64(14), object(21)
memory usage: 53.1+ MB